version: 2.0
jobs:
  build:
    working_directory: ~/cheddur/whitepaper
    docker:
      - image: circleci/node:11.0.0
    steps:
      - checkout
      - restore_cache:
          key: npm-cache-{{ .Branch }}-{{ checksum "package.json" }}
      - run: npm install
      - save_cache:
          key: npm-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: npm test
